:root {
    /**
     * Стандартная шрифтовая гарнитура для всех компонентов.
     */
    --font: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Oxygen, Ubuntu,
        Cantarell, sans-serif;
    --font-weight-light: 300;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-size-m: 16px;
    --font-size-xl: 22px;
    --font-size-2xl: 30px;
    --line-height-normal: 1.4;
    --line-height-condensed: 1.2;
}
